@import "./_variables";

#contactBtn {
  background-color: $almost-black;
  color: $almost-pink;
  transition: all 0.3s ease;
  font-family: $title-font;
  font-weight: $font-weight-light;
  text-transform: $uppercase;
  border-radius: $space-2xl;
  font-size: 22px;
  border: none;
  outline: none;
  padding: $space-sm $space-md;
  width: 222px;
  font-weight: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 52px;
  cursor: pointer;
  transition: none;

  &:hover {
    color: $almost-white;
  }

  &.open {
    background-color: $almost-black;
    color: $almost-white;
  }
}

.navBtn,
#navBtn {
  cursor: pointer;
  background-color: transparent;
  font-family: $title-font;
  border: none;
  outline: none;
  font-size: 18px;
  gap: $space-md;
  display: flex;
  align-items: center;
  justify-content: space-between;

    &.open {
   font-weight: bold;
  
  }

  &:hover {
    font-weight: bold;

    .social_dropdown {
      display: block;
    }
  }
}

.social-btn {
  margin-top: 14.3px !important;
}

.expand-btn {
  background: $almost-black;
  color: $almost-pink;
  font-family: $title-font;
  width: auto;
  padding: $space-sm $space-md;
  text-transform: uppercase;
  border: none;
  width: 222px;
  font-size: 14px;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-decoration: none !important;

  &:hover {
    background: $almost-pink;
    color: $almost-black;
  }

  &:active {
    background: $almost-black;
    color: $almost-pink;
  }
}
