@import "./_variables";

#contactBtn {
  background-color: #000;
  color: #fff;
  transition: all 0.3s ease;
  font-family: $title-font;
  font-weight: $font-weight-light;
  text-transform: $uppercase;
  border-radius: $space-2xl;

  &.open {
    background-color: #ff3e00; // changes when contact is open
    color: #fff;
    transform: scale(1.05);
  }
}