@import "./_variables";

#main_contact {
  position: fixed;
  background-color: $almost-black;
  left: 0;
  top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  min-width: 100dvw;
  min-height: 100dvh;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease-in-out;
  z-index: 100;
  overflow-y: auto;
  overflow-x: hidden;

  .contact-wrapper {
    position: absolute;
    width: 100%;

    overflow-y: auto;
    color: $almost-pink;
    min-height: 100dvh;
    background-color: $almost-black;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    padding: 92px $space-6xl $space-6xl $space-6xl;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $space-6xl;

    .contact_col {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      height: 80%;
      gap: $space-2xl;

      .two_lines {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-between;
        font-family: $bread-font;
      }

      h1 {
        font-size: 4vw;
        font-family: $title-font;
        font-weight: 100;
        padding: 0;
        margin: 0;
        color: $almost-pink;
        line-height: 1.2;
        text-transform: uppercase;

        i {
          color: $almost-pink;
        }
      }

      p.mail-p {
        opacity: 0.4;
        margin-top: -282px;
        text-transform: uppercase;
      }

      p {
        font-family: $bread-font;
        opacity: 0.4;
        padding-top: 4px;

        a {
          color: $almost-pink !important;
          text-decoration: none;

          &:hover {
            opacity: 1;
          }
        }
      }

      &.form {
        h1 {
          font-family: $title-font;
          font-size: 29px;
          text-transform: none;
          padding-bottom: $space-xl;
          font-weight: 100;
          margin-top: 26px;
          text-transform: uppercase;
        }

        .col {
          a {
            color: $almost-pink;
            text-decoration: none;
            opacity: 0.4;

            &:hover {
              opacity: 1;
            }
          }
        }

        #contact-form {
          display: flex;
          font-family: $bread-font;
          flex-direction: column;
          width: 100%;
          font-size: 12px;

          textarea,
          input {
            border-radius: 7px;
            border: 0.5px solid $almost-pink;
            margin-top: $space-sm;
            margin-bottom: $space-md;
            padding: $space-md;
            font-size: 16px;
            background-color: transparent;
            font-family: $bread-font !important;
            color: $almost-pink !important;

            &::placeholder {
              color: $almost-pink !important;
              opacity: 0.6;
            }

            &:focus {
              outline: none;
              border: 1px solid $almost-pink;
            }
          }
          span {
            padding: 0 0 $space-md 0;

            a {
              color: $almost-pink;
            }
          }

          textarea {
            max-width: 100%;
            min-height: 222px;
          }

          label {
            font-weight: bold;
            text-transform: uppercase;
            padding-top: $space-md;

            &.message {
              padding-top: $space-lg;
            }
          }

          button {
            background: $almost-pink;
            color: $almost-black;
            font-family: $title-font;
            width: auto;
            padding: $space-sm $space-md;
            text-transform: uppercase;
            border: none;
            width: 222px;
            font-size: 14px;
            border-radius: 7px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            text-decoration: none !important;

            &:hover {
              background-color: $almost-pink;
              color: $almost-black;
            }
          }
        }

        width: 40%;
      }
    }
  }

  &.active {
    opacity: 1;
    pointer-events: auto;
  }
}

@media (min-width: 768px) {
  .contact-wrapper {
    padding: calc(60px + $space-lg) $space-lg $space-lg $space-lg;
  }
}

@media (max-width: 1400px) {
  #main_contact {
    padding: $space-xs $space-xs 0 $space-xs;

    .contact-wrapper {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: calc(60px + $space-lg) $space-lg $space-lg $space-lg;
      gap: $space-xl;
      height: auto;
      min-height: 100dvh;
      overflow-y: scroll;

      .contact_col {
        width: 100% !important;
        height: auto;
        flex-direction: column-reverse;
        gap: $space-xl;

        .two_lines {
          width: 100%;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: $space-2xl;
        }

        h1 {
          font-size: 28px;
          padding-top: $space-md;
        }

        p.mail-p {
          margin-top: 0;
          font-size: 14px;
        }

        &.form {
          h1 {
            font-size: 24px;
            padding-bottom: $space-md;
            margin-top: 0;
          }

          #contact-form {
            textarea,
            input {
              font-size: 16px;
              margin-bottom: $space-sm;
            }

            label {
              padding-top: $space-sm;
              font-size: 11px;

              &.message {
                padding-top: $space-md;
              }
            }

            button {
              font-size: 18px;
              margin-top: $space-lg;
            }
          }
        }
      }
    }
  }
}

// Extra small devices (less than 480px)
@media (max-width: 480px) {
  #main_contact {
    overflow-y: scroll;
    .contact-wrapper {
      padding: calc(72px + $space-lg) $space-lg $space-lg $space-lg;

      .contact_col {
        flex-direction: column-reverse;
        width: 100%;

        h1 {
          font-size: 28px;
        }

        &.form {
          h1 {
            font-size: 18px;
          }

          .contact_me {
            display: none;
          }
        }
      }
    }
  }
}
