@import "./_variables";

//RESETS
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
ul,
ol {
  margin: 0;
  padding: 0;
}

//RESETS OVER

body {
  background-color: $almost-black;
}

main {
  background-color: $almost-pink;
  margin: $space-sm;
  border-radius: $space-lg;
  min-height: 110vh;
  position: fixed;
  width: calc(100vw - (#{$space-sm} * 2));
  padding: 0;
  overflow-y: scroll;
  height: calc(100vh - (#{$space-sm} * 2));

  &.contact-open {
    overflow-y: hidden;
  }
}

h1 {
  font-family: $bread-font;
}





