@import "./_variables";

nav {
  display: flex;
  height: $navbar-height;
  justify-content: space-between;
  padding: $space-lg $space-lg 0 $space-lg;
  position: fixed;
  width: calc(100vw - (#{$space-sm} * 2));
  border-top-right-radius: $space-lg;
  border-top-left-radius: $space-lg;
  left: $space-sm;
  top: $space-sm;
  z-index: 999;
  transition: background-color 0.1s ease;

  &.scrolled {
    background-color: $almost-white;
  }

  &.single {
    background-color: $almost-white;
  }

  .nav_col {
    font-family: $title-font;

    &.logo {
      h3 {
        text-transform: uppercase;
        margin-top: -4px;
        line-height: 1.3;
      }

      p {
        font-family: $bread-font;
        font-size: 14px;
        font-weight: 500;
      }
    }

    &.btns {
      display: flex;
      gap: $space-lg;
    }
  }
}