@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Dela+Gothic+One&display=swap');

//Fonts
$title-font: 'Dela Gothic One', sans-serif;
$bread-font: 'Darker Grotesque', sans-serif;

//Fomt weights
$font-weight-light: 100;

//Text transformations
$uppercase: uppercase;